/* ////////////////////////// 読み込みCSSファイル ////////////////////////// */

/* 共通 css */
@import url(basic.css);

/* ABOUT */
@import url(about.css);

/* WORKS */
@import url(works.css);

/* ////////////////////////////////////////////////////////////////////// */

/* *******************************  ヘッダー ******************************* */
.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000000;
}

.header_wrapper .logo {
    width: 47px;
}

.header_wrapper #header_menu #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrapper #header_menu #menu li {
    padding: 10px 20px;
    overflow: hidden;
    color: transparent;
    text-shadow: 0 -2em 0 #000, 0 0 0 #000;
    transition: text-shadow 0.3s;
}

.header_wrapper #header_menu #menu li:hover {
    text-shadow: 0 0 0 #000, 0 2em 0 #000;
}

/* *********************************************************************** */

/* *******************************  メイン ******************************* */
/* :::::::::::::::::::: メインビジュアル :::::::::::::::::::: */
#mv h1 {
    max-width: 800px;
    margin: 220px auto 40px;
    position: relative;
}

/* ---------- メインビジュアルSVG ---------- */
.cls {
    fill: none;
    stroke: #33334d;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    stroke-width: 1;
    -webkit-animation: logo 3.5s ease-in forwards;
    animation: logo 3.5s ease-in forwards;
}
@keyframes logo {
    0% {
        stroke-dashoffset: 2000;
        fill: transparent;
    }
    50% {
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 0;
        fill: #33334d;
    }
}
/* ---------------------------------------- */

#mv #mv_name {
    margin: 30px auto 0;
    position: relative;
    max-width: clamp(12.5rem, 1.705rem + 53.98vw, 36.25rem);
    margin-inline: auto;
    text-align: center;
}

#mv #mv_name #name_text #name {
    display: block;
    margin-inline: auto;
}

#mv #mv_name > .name_animation {
    width: 100%;
}

#mv #mv_name::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #33334d;
    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* ---------- 名前アニメーション ---------- */
svg .svg-elem-1 {
    stroke-dashoffset: 890.6770629882812px;
    stroke-dasharray: 890.6770629882812px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}
svg.active .svg-elem-1 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-2 {
    stroke-dashoffset: 652.9666748046875px;
    stroke-dasharray: 652.9666748046875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.12s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.12s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}
svg.active .svg-elem-2 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-3 {
    stroke-dashoffset: 208.27011108398438px;
    stroke-dasharray: 208.27011108398438px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.24s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.24s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}
svg.active .svg-elem-3 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-4 {
    stroke-dashoffset: 452.1082763671875px;
    stroke-dasharray: 452.1082763671875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.36s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.36s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}
svg.active .svg-elem-4 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-5 {
    stroke-dashoffset: 235.79664611816406px;
    stroke-dasharray: 235.79664611816406px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.48s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.48s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}
svg.active .svg-elem-5 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-6 {
    stroke-dashoffset: 177.1021270751953px;
    stroke-dasharray: 177.1021270751953px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.6s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}
svg.active .svg-elem-6 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-7 {
    stroke-dashoffset: 218.5951690673828px;
    stroke-dasharray: 218.5951690673828px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.72s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.72s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}
svg.active .svg-elem-7 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-8 {
    stroke-dashoffset: 926.985107421875px;
    stroke-dasharray: 926.985107421875px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.84s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.84s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}
svg.active .svg-elem-8 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-9 {
    stroke-dashoffset: 160.4557647705078px;
    stroke-dasharray: 160.4557647705078px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            0.96s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 0.96s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}
svg.active .svg-elem-9 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-10 {
    stroke-dashoffset: 177.10220336914062px;
    stroke-dasharray: 177.10220336914062px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            1.08s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.08s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}
svg.active .svg-elem-10 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-11 {
    stroke-dashoffset: 235.7778778076172px;
    stroke-dasharray: 235.7778778076172px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            1.2s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
}
svg.active .svg-elem-11 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
svg .svg-elem-12 {
    stroke-dashoffset: 139.82582092285156px;
    stroke-dasharray: 139.82582092285156px;
    fill: transparent;
    -webkit-transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            1.3199999999999998s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
    transition: stroke-dashoffset 3s cubic-bezier(0.47, 0, 0.745, 0.715)
            1.3199999999999998s,
        fill 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
}
svg.active .svg-elem-12 {
    stroke-dashoffset: 0;
    fill: rgb(51, 51, 77);
}
/* ---------------------------------------- */

#mv #mv_text_area {
    margin-top: 40px;
    text-align: center;
}

/* スクロール */
.scroll_area {
    height: 90px;
    margin-top: 120px;
}

.scroll p {
    transform: rotate(-90deg);
    margin-bottom: 20px;
}

.scroll {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 線 */
.scroll::before {
    animation: scroll 2s infinite;
    background-color: #5f5f5f;
    bottom: -70px;
    content: "";
    height: 60px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 1px;
}

/* 線のアニメーション */
@keyframes scroll {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }
    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }
    51% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }
    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}

/* ::::::::::::::::::::::: WORKS ::::::::::::::::::::::: */
#WROKS h2 {
    margin-top: 160px;
}

#ABOUT h2,
#CONTACT h2 {
    font-family: "mendl-sans-dusk";
    font-weight: 600;
    position: relative;
}

#WROKS > p,
#ABOUT > p {
    text-align: center;
}

/* -------------- タブ付きフォルダ -------------- */
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.tab-wrap:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #33334d;
    display: block;
    order: -1;
}

.tab-label {
    color: White;
    background: LightGray;
    text-align: center;
    padding: 6px 1em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
}

.tab-label:nth-child(5) {
    padding-inline: 3.6em;
}

.tab-label:not(:last-of-type) {
    margin-right: 10px;
}

.tab-content {
    width: 100%;
    background-color: rgba(253, 253, 253, 0.5);
    background-blend-mode: lighten;
    height: 0;
    overflow: hidden;
    opacity: 0;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}
/*スクロールバー非表示（Chrome・Safari）*/
.tab-content::-webkit-scrollbar{
    display:none;
}

.tab-switch:checked + .tab-label {
    background: #33334d;
}

.tab-switch:checked + .tab-label + .tab-content {
    height: auto;
    overflow: auto;
    padding: 20px 15px 40px;
    opacity: 1;
    transition: 0.5s opacity;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.tab-switch {
    display: none;
}

.tab-wrap .tab-content_inner {
    margin: 0px 20px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;
}
/* 横の区切り線 */
.tab-wrap .tab-content_inner::after {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: #33334d;
    position: absolute;
    bottom: -20px;
    left: 0;
}

.tab-wrap .tab-content_inner .item_box:nth-of-type(1) {
    position: relative;
}
/* 縦の区切り線 */
.tab-wrap .tab-content_inner .item_box:nth-of-type(1)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    margin: 0 2.1rem;
    width: 1px;
    height: 100%;
    background-color: #33334d;
}
/* コンテンツごとの大きさ */
.tab-wrap .tab-content_inner .item_box {
    flex-basis: 46%;
}
/* モックアップ画像の大きさ */
.tab-wrap .tab-content_inner .item_box .item_image {
    height: 260px;
    width: auto;
    margin: 80px auto 0;
}

.tab-wrap .tab-content_inner .item_box .item_image img {
    height: 260px;
    width: 100%;
    object-fit: contain;
}

.tab-wrap .tab-content_inner .item_box .item_inner {
    margin: 40px auto 60px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* 制作名 */
.tab-wrap .tab-content_inner .item_box .item_title {
    font-size: clamp(1.063rem, 1.017rem + 0.23vw, 1.188rem);
}

/* タグ */
.tab-wrap .tab-content_inner .item_box .item_inner .item_tag_wrapper {
    border-top: 1px solid #33334d;
    border-bottom: 1px solid #33334d;
    padding-block: 1.1rem;
}
.tab-wrap .tab-content_inner .item_box .item_inner .item_tag_wrapper span {
    border: 1px solid #33334d;
    border-radius: 9999px;
    padding: 8px 18px 6px;
    font-size: clamp(0.688rem, 0.642rem + 0.23vw, 0.813rem);
}
.tab-wrap .tab-content_inner .item_box .item_inner .item_tag_wrapper .item_tag_production {
    background-color: #33334d;
    color: #ffffff;
    margin-left: 2px;
}
/* ボタン */
.tab-wrap .tab-content .button {
    padding-top: 20px;
}

/* ----------------------------------------------------- */

/* ::::::::::::::::::::::: ABOUT ::::::::::::::::::::::: */
#ABOUT {
    margin-top: 140px;
}

#ABOUT_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

#ABOUT_top .text_wrapper {
    flex-basis: 65%;
}

#ABOUT_top .name_ruby {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 0.5rem;
    padding-bottom: 8px;
}

#ABOUT_top .text_wrapper .name p,
#ABOUT_bottom p:nth-child(1) {
    font-family: "ta-koigokoro";
}

#ABOUT_top .text_wrapper .name > p {
    font-size: clamp(1.375rem, 0.625rem + 3.75vw, 2.5rem);
}

#ABOUT_top .text_wrapper > .text {
    margin-top: 40px;
}

#ABOUT_top .text_wrapper .text p + p {
    margin-top: 20px;
}

#ABOUT .button {
    margin-top: 40px;
    text-align: left;
}

.ABOUT_img {
    flex-basis: 34%;
}


/* ::::::::::::::::::::::: thank you ::::::::::::::::::::::: */
#thank_you {
    max-width: 800px;
    margin-inline: auto;
}

#thank_you {
    margin-top: 180px;
    text-align: center;
}

/* *********************************************************************** */

/* *******************************  フッター ******************************* */
#CONTACT {
    background-color: #e8e8e8;
    text-align: center;
    margin-top: 180px;
    padding: 60px 0;
}

.CONTACT_wrapper {
    max-width: 800px;
    margin-inline: auto;
}

#CONTACT h2 {
    margin: 0;
}

#CONTACT h2::before {
    left: 45%;
}

#CONTACT h2::after {
    right: 53.6%;
}

#CONTACT > p {
    margin: 16px 1rem 20px;
}

.CONTACT_wrapper {
    background-color: #fdfdfd;
    padding-block: 30px;
}

.CONTACT_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.CONTACT_inner .mail,
.CONTACT_inner .tel {
    display: flex;
    align-items: center;
}

.CONTACT_inner .mail p,
.CONTACT_inner .tel p {
    line-height: normal;
    letter-spacing: normal;
}

.CONTACT_inner .mail {
    gap: 0.8rem;
}

.CONTACT_inner .tel {
    gap: 0.3rem;
}

.CONTACT_inner .mail .mail_icon,
.CONTACT_inner .tel .tel_icon {
    flex-basis: 40px;
}

.CONTACT_inner .mail .mail_text,
.CONTACT_inner .tel .tel_text {
    border-bottom: 1px solid #33334d;
}

footer > p {
    background-color: #4a4a56;
    color: #fdfdfd;
    text-align: center;
    padding: 40px;
}
/* *********************************************************************** */

/* **************************** メディアクエリ ******************************/
/* ///////////////////// max-width: 900px ///////////////////// */
@media screen and (max-width: 900px) {
    #VISION > p .lineBreak,
    #STRONGTH .STRONGTH_text .lineBreak {
        padding-top: 0.7rem;
    }
}
/* ///////////////////// max-width: 810px ///////////////////// */
@media screen and (max-width: 810px) {
    .tab-wrap .tab-content_inner {
        flex-direction: column;
        align-items: center;
        margin: 0px 0px 40px;
    }

    .tab-wrap .tab-content_inner .item_box {
        width: 100%;
    }

    .tab-wrap .tab-content_inner .boder {
        display: none;
    }

    .tab-wrap .tab-content_inner .item_box:nth-of-type(1)::after {
        height: 1px;
        width: 100%;
        top: 100%;
        left: 0;
        margin: 0;
    }

    .tab-wrap .tab-content_inner .item_content {
        width: 90%;
        margin-inline: auto;
    }
}
/* //////////////////////////////////////////////////////////// */
/* ///////////////////// max-width: 650px ///////////////////// */
@media screen and (max-width: 650px) {
    /* トップに戻るボタン */
    .topButton {
        right: 10px;
    }
    /* :::::: ドロワーメニュー :::::: */
    header #drawerButton {
        position: fixed;
        top: 6px;
        right: 10px;
        width: 40px;
        height: 40px;
        display: block;
        z-index: 1000000;
    }

    #drawerButton span {
        width: 70%;
        height: 2px;
        display: block;
        background-color: #33334d;
        position: absolute;
        left: 20%;
        transition: all 0.3s linear;
    }

    #drawerButton span:nth-child(1) {
        top: 8px;
    }

    #drawerButton span:nth-child(2) {
        top: 19px;
    }

    #drawerButton span:nth-child(3) {
        bottom: 8px;
    }

    #drawerButton.close span:nth-child(1) {
        transform: rotate(-45deg);
        top: 18px;
    }

    #drawerButton.close span:nth-child(2) {
        transform: scale(0);
    }

    #drawerButton.close span:nth-child(3) {
        transform: rotate(45deg);
        top: 18px;
    }
    /* ::::::::::::::::::::::::::: */
    /* :::::: 見えないメニュー :::::: */
    .header_wrapper #header_menu #menu {
        background-color: #fdfdfd;
        display: block;
        position: fixed;
        height: 100%;
        width: 60%;
        right: -100vw;
        top: 0;
        transition: all 0.3s linear;
        z-index: 20000;
        opacity: 0.92;
    }

    .header_wrapper #header_menu #menu li:nth-child(1) {
        margin-top: 80px;
    }

    .header_wrapper #header_menu #menu li {
        margin-top: 60px;
        text-align: center;
    }

    .header_wrapper #header_menu #menu.open {
        right: 0;
    }

    #menu li:nth-child(3) {
        padding-left: 0;
    }
    /* ::::::::::::::::::::::::::::::::::::::::: */
    #mv #mv_text_area {
        margin-top: 0;
    }

    #ABOUT_top {
        flex-direction: column-reverse;
        gap: 40px;
    }

    #ABOUT_bottom {
        margin-top: 80px;
    }

    .ABOUT_img {
        max-width: 200px;
    }

    #ABOUT_top .name_ruby {
        justify-content: center;
    }

    #ABOUT_top .text_wrapper .name{
        text-align: center;
    }

    #ABOUT_top .text_wrapper > .text {
        margin-top: 32px;
    }

    #ABOUT .button {
        margin-top: 32px;
        text-align: center;
    }

    .website_wrapper,
    .banner_wrapper {
        margin-top: 30px;
    }

    .website_wrapper .website_pc_img,
    .website_wrapper .website_img_wrapper,
    .website_img_item {
        width: 88%;
    }

    .dtp_wrapper {
        margin-top: 10px;
    }

    .website_text_wrapper,
    .banner_text_wrapper,
    .dtp_text_wrapper {
        margin-top: 40px;
    }

    .website_text_inner dt,
    .website_icon dt,
    .banner_text_inner dt,
    .banner_icon dt,
    .dtp_text_inner dt,
    .dtp_icon dt {
        flex-basis: 20%;
        font-weight: normal;
    }

    .website_icon,
    .banner_icon,
    .dtp_icon {
        gap: 0;
    }

    #VISION > p .lineBreak {
        padding-top: 0.3rem;
    }

    #SKILL .SKILL_wrapper .flex {
        display: block;
    }
    #SKILL .SKILL_wrapper .SKILL_inner .SKILL_icon {
        width: 40px;
    }

    #SKILL .SKILL_wrapper .SKILL_inner {
        margin-bottom: 48px;
    }

    #SKILL .SKILL_wrapper .flex:not(:first-child) {
        margin-top: 0;
    }

    #PASSTIME .PASSTIME_account {
        gap: 1.2rem;
        flex-direction: column;
    }

    #PASSTIME .PASSTIME_account .account:nth-child(1),
    #PASSTIME .PASSTIME_account .account {
        flex-basis: 100%;
        justify-content: center;
    }

    #thank_you,
    #CONTACT {
        margin-top: 100px;
    }
}
/* //////////////////////////////////////////////////////////// */
/* ///////////////////// max-width: 600px ///////////////////// */
@media screen and (max-width: 562px){
    #ABOUT_bottom p .lineBreak{
        padding-top: 0.8rem;
    }
}

/* //////////////////////////////////////////////////////////// */
/* ///////////////////// max-width: 500px ///////////////////// */
@media screen and (max-width: 500px) {
    main h2 {
        margin-top: 80px;
    }

    .tab-wrap .tab-content_inner .item_box .item_inner {
        margin: 40px auto 56px;
    }

    .tab-wrap .tab-content_inner .item_box .item_image {
        height: auto;
        margin: 60px auto 0;
    }

    .tab-wrap .tab-content_inner .item_box .item_image img {
        height: 200px;
    }

    .tab-wrap .tab-content_inner .item_box .item_image .pc {
        height: 180px;
    }

    #mv #mv_text_area > p{
        line-height: 1.2rem;
    }

    #mv #mv_name::before {
        bottom: 46px;
    }

    #website_shouei,#website_cur, #baneer_real_estate, #baneer_xmas, #dtp_card, #dtp_fryer {
        margin-top: 40px;
    }

    #website_shouei, #website_port, #baneer_real_estate, #baneer_line, #baneer_xmas, #baneer_halloween, #dtp_fryer, #dtp_zoo_icon, #website_cur, #shouei_mb_design {
        margin-top: 160px;
    }

    #ABOUT_top .name_ruby {
        gap: 20px;
    }

    .banner_img_wrapper {
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8rem;
    }

    .banner_wrapper .banner_img {
        width: 48%;
    }

    #baneer_xmas .banner_img {
        width: 70%;
    }

    #baneer_halloween .banner_img,
    #baneer_coupon .banner_wrapper .banner_img {
        width: 60%;
    }

    #shouei_pc_design .design_pc_wrapper{
        display: flex;
        justify-content: space-between;
        gap: calc(2rem / 2);
        flex-wrap: wrap;
    }

    #VISION {
        margin-top: 40px;
    }
}

/* //////////////////////////////////////////////////////////// */
/* ///////////////////// max-width: 420px ///////////////////// */
@media screen and (max-width: 420px) {
    .tab-wrap .tab-content_inner .item_box_change .item_inner .item_tag_wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .tab-wrap .tab-content_inner .item_box .item_inner .item_tag_wrapper span {
        width: fit-content;
    }

    .website_text_inner,
    .banner_text_inner,
    .dtp_text_inner {
        flex-direction: column;
    }

    .website_text_inner dt,
    .website_icon dt,
    .banner_text_inner dt,
    .banner_icon dt,
    .dtp_text_inner dt,
    .dtp_icon dt {
        font-weight: 600;
    }

    .website_icon,
    .banner_icon,
    .dtp_icon {
        flex-direction: column;
        align-items: flex-start;
    }

    .banner_wrapper .banner_img {
        width: 60%;
    }

    .dtp_wrapper .dtp_img_wrapper {
        flex-direction: column;

    }

    .dtp_wrapper .dtp_img {
        margin-top: 20px;
        width: 60%;
    }

    #dtp_fryer .dtp_wrapper .dtp_img_wrapper .dtp_img {
        width: 70%;
    }

    #dtp_namikidai_logo .dtp_wrapper .dtp_img{
        width: 90%;
    }

    #shouei_pc_design .design_pc_wrapper .pc_img,
    #shouei_mb_design .design_mb_wrapper .mb_img{
        flex-basis: 100%;
    }

    #shouei_pc_design .design_pc_wrapper .pc_img:nth-of-type(n+2),
    #shouei_mb_design .design_mb_wrapper .mb_img:nth-of-type(n+2){
        margin-top: 80px;
    }

    .ABOUT_img {
        max-width: 200px;
    }

    #ABOUT_bottom p:nth-child(1) {
        text-align: left;
        white-space: nowrap;
    }

    .CONTACT_inner {
        justify-content: center;
        flex-direction: column;
        gap: 16px;
    }

    .CONTACT_wrapper > p{
        padding-inline: 1rem;
        white-space: normal;
    }
}
/* //////////////////////////////////////////////////////////// */
/* ///////////////////// max-width: 390px ///////////////////// */
@media screen and (max-width: 390px) {
    #mv h1 {
        margin: 180px auto 20px;
    }

    .tab-label {
        font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
    }

    #mv #mv_text_area {
        margin-top: 0px;
    }

    .tab-wrap .tab-content_inner {
        margin: 0 0 1.2rem;
        flex-direction: column;
        gap: 1.2rem;
    }

    .item_box {
        width: 80%;
    }

    .item_box:last-child {
        align-self: center;
    }

    #ABOUT_top .name_ruby {
        margin-left: 0;
    }

    #ABOUT_top .text_wrapper > .text {
        margin-top: 20px;
    }

    #ABOUT_bottom p:nth-child(1) {
        white-space: normal;
    }

    .CONTACT_wrapper > p {
        width: 100%;
        white-space: normal;
    }

    .banner_wrapper .banner_img,
    #baneer_halloween .banner_img,
    #baneer_coupon .banner_wrapper .banner_img {
        width: 80%;
    }

    #baneer_xmas .banner_img {
        width: 100%;
    }

    #STRONGTH .STRONGTH_text .lineBreak,
    #SKILL .SKILL_wrapper {
        padding-left: 1rem;
    }

    #SKILL .SKILL_wrapper .SKILL_inner {
        margin-bottom: 30px;
    }
}